<!DOCTYPE html>
<html>
  <head>
    <title>Tour de Varnish</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="{{lib}}/three-r73.{{js}}"></script>
    <script src="{{lib}}/three-r73-Projector.{{js}}"></script>
    <script src="{{lib}}/three-r73-CanvasRenderer.{{js}}"></script>
    <script src="{{lib}}/jquery-2.1.4.{{js}}"></script>
    <script src="{{src}}/tour-de-varnish.{{js}}"></script>
    <script type="text/javascript">
      var context = {};

      $(window).load(function () {
        $(window).on("beforeunload", endJourney);
        $.getJSON('data/destinations.json').then(function(data) {
          context.destinations = data;
          return $.getJSON('data/{{route}}.json');
        }).then(function(data) {
          context.route = data;
          var stage = new Stage(context);
          $(window).on('resize', stage.resize);
          stage.init();
        });
      });
    </script>
  </head>
  <body>
    <img id="world_map" src="img/{{map}}" />
    {{> slides.svg}}
  </body>
</html>
